.page{
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    text-align: center;
    align-items: top;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(177, 163, 163);
    background: url(./img/cooking.jpg);
    background-size: cover;
}

.mealPostings{
    height: 200px;
    width: fill;
    display: inline-flex;
    justify-content: space-around;
    
}

.weekly{
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.table{
    height: 400px;
    width: 700px;
    grid-column: 2;
    grid-row:2;
    border-radius: 30px;
    background-color: rgb(179, 178, 152);
    opacity: 93%;
    justify-self: right;
    position: relative;
    bottom: 60px;
}

.table input {
    height: 40px;
    width: 100px;
    font-size: 40px;
    text-align: center;
}

.buttons{
    display: stretch;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
    position: relative;
}

.buttonfx{
    color: black; /* button text color */
    outline:none;
    background-color:#259f6c;
    border: none;
    border-radius: 20px;
    border-bottom: 4px solid #eee;
    letter-spacing: 0.0625em;
    padding: 8px 10px; 
    text-transform: uppercase;
    font: bold 16px 'Bitter', sans-serif; /* use google font */
    line-height: 2;
    position: relative;
    bottom: 30px;
      display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
      text-decoration: none; /* remove underline if using A instead of BUTTON tag */
    overflow: hidden;
    transition: all .5s;
  }
  
  
  .buttonfx:before,
  .buttonfx:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #259f6c; /* onhover background color */
    z-index: -1;
    transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
    transition: all .5s;
  }
  
  .buttonfx:before{
    background: #bfc910; /* button default background color */
    z-index: -2;
    transform: translate3D(0,0,0);
  }
  
  .buttonfx:hover{
      color: white;
  }
  
  .buttonfx:hover:after{
    transform: translate3D(0,0,0);
    transition: all .5s;
  }
.userIDdiv{
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
}


.success{
    justify-self: center;
    position: relative;
    top: 20px;
}

.success h1 {
    position: relative;
    top: 30px;
    background-color: rgb(179, 178, 152);
    border-radius: 30px;
    width: 400px;
    justify-self: center;
    bottom: 0;
    color: black;
    
}
.UserID {
    height: 40px;
    font-size: 30px;
    border-radius: 30px;
    bottom: 0;
    grid-row: 2;
    text-align: center;
}
