table {
  border: 1px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: #051aa6;
}

.submit {
  display: flex;
  justify-content: center;
}
